.root {
  background-color: var(--light);
  color: var(--light);
  padding: var(--mainSpacing);
}

section {
  display: flex;
  align-items: center;
}

section:not(:last-child) {
  margin-bottom: var(--mainSpacing);
}

section:last-child {
  background-color: var(--primary);
  color: var(--dark);
}

dt {
  margin-bottom: 8px;
}

dd {
  margin-left: 32px;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 750px) {
  .flex {
    flex-direction: row;
  }
}

.nav {
  position: fixed;
  top: var(--mainSpacing);
  right: var(--mainSpacing);
  z-index: 1;
}

.nav .container {
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin: 0;
}

.nav ul li a {
  display: inline-block;
  padding: 8px 16px;

  background-color: var(--primary);
  color: var(--dark);
  font-weight: 700;
  text-decoration: none;
  border-radius: 6px;
}

.nav ul li a:hover,
.nav ul li a:focus {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.nav ul li:not(:last-child) a {
  margin-right: 8px;

  color: var(--light);
  background-color: transparent;
}

#about {
  background-color: var(--dark);
  padding: var(--mainSpacing) 0;
}

#about p {
  font-size: 1.3em;
}

#about .left {
  order: 2;
  flex: 1;
  width: 100%;
  margin-right: var(--mainSpacing);
}

#about .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  order: 1;
  width: 100%;
}

@media (min-width: 750px) {
  #about .left {
    order: 1;
  }

  #about .right {
    flex: 0;
    order: 2;
    justify-content: center;
  }
}

.portrait {
  width: 100%;
  overflow: hidden;
  margin-bottom: var(--mainSpacing);
}

.portrait img {
  display: block;
  width: 100%;
}

@media (min-width: 750px) {
  .portrait {
    width: 40%;
    height: calc(100vh - 2 * var(--mainSpacing));
    margin-bottom: 0;
    margin-right: var(--mainSpacing);
  }

  .portrait img {
    width: auto;
    height: calc(100vh - 2 * var(--mainSpacing));
  }
}

#experience .right {
  background-color: var(--dark);
  padding: 32px;
  width: 100%;
}

@media (min-width: 750px) {
  #experience .right {
    width: 60%;
  }
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--primary);
  margin-bottom: 16px;
}

.full-height {
  min-height: calc(100vh - 2 * var(--mainSpacing));
}

.icon {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.icon,
.icon > svg {
  width: 32px;
  height: 32px;
  fill: var(--dark);
}

.icon-wrapper .icon:not(:last-child) {
  margin-right: 16px;
}

.icon:hover,
.icon:focus {
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

.color-primary {
  color: var(--primary);
}

@media (min-width: 750px) {
  .photo {
    width: 300px;
    height: 300px;
  }
}
